<% layout("layouts/boilerplate") %>
    <!-- <h1>
        All Treks
    </h1>
    <a href="/treks/new">Create a New Trek Spot</a>
    <ul>
        <% for (let trek of treks){ %>
            <li>
                <%= trek.title%>
                    <a href="/treks/<%= trek._id%>">Details</a>
            </li>
            <% } %>
    </ul> -->

    <div class="cardContainer">
        <% for (let trek of treks){ %>
            <div class="cardOfTrek">
                <img src="<%=trek.image%>" alt="" class="trekImage img-fluid">
                <h1>
                    <%=trek.title%>
                </h1>
                <div>
                    <%=trek.description %>
                </div>
                <div class="text-muted">
                    <%=trek.location %>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary">View <%=trek.title %> </button>
                </div>
            </div>
            <% } %>
    </div>