<% layout("layouts/boilerplate") %>
    <div id="map" style="width:100%; height:500px"></div>
    <h1 class="text-center display-4">
        Trek Spots
    </h1>

    <div class="cardContainer">
        <% for (let trek of treks){ %>
            <div class="cardOfTrek">
                <% if(trek.images.length){ %>
                    <img src="<%=trek.images[0].url%>" alt="" class="trekImage img-fluid">
                    <% }else{ %>
                        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt=""
                            class="trekImage img-fluid">
                        <% } %>
                            <h1>
                                <%=trek.title%>
                            </h1>
                            <p class="desc">
                                <%=trek.description %>
                            </p>
                            <div class="text-muted">
                                <%=trek.location %>
                            </div>
                            <div class="text-center">
                                <a href="/treks/<%=trek._id %>"><button class="btn btn-primary">View <%=trek.title %>
                                    </button></a>
                            </div>
            </div>
            <% } %>
    </div>

    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN %>';
        const trekInfo = '<%-JSON.stringify(treks)%>';
        const trekSpotInfo = {
            features: JSON.parse(trekInfo)
        }
    </script>

    <script src="/Javascript Files/clusterMap.js"></script>