<% layout("layouts/boilerplate") %>
    <h1 class="text-center display-4">
        Trek Spots
    </h1>

    <div class="cardContainer">
        <% for (let trek of treks){ %>
            <div class="cardOfTrek">
                <img src="<%=trek.image%>" alt="" class="trekImage img-fluid">
                <h1>
                    <%=trek.title%>
                </h1>
                <p class="desc">
                    <%=trek.description %>
                </p>
                <div class="text-muted">
                    <%=trek.location %>
                </div>
                <div class="text-center">
                    <a href="/treks/<%=trek._id %>"><button class="btn btn-primary">View <%=trek.title %> </button></a>
                </div>
            </div>
            <% } %>
    </div>