<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/CSS Files/starstylesheet.css">



    <div class="row">
        <div id='map' style='width:400px;height:300px;'>

        </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <% trek.images.forEach((img, i)=>{ %>
                    <div class="col-lg-6 bg-black p-2 rounded-2 carousel-item <%=i === 0 ? 'active': '' %> ">
                        <img src="<%=img.url  %> " alt="" class="img-fluid d-block w-100">
                    </div>
                    <% }) %>
            </div>
            <% if(trek.images.length !==1){ %>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <% } %>
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-between align-self-center">
            <h1 class="display-5 text-center">
                <%=trek.title %>
            </h1>
            <p class="text-center">
                <%=trek.description %>
            </p>
            <hr>
            <div>
                Rs<%=trek.price %> / Head
            </div>
            <hr>
            <div class=" text-center text-muted">
                <%= trek.location %>
            </div>
            <hr>
            <div class=" text-center text-muted">
                <%= trek.author.username %>
            </div>
            <hr>
            <% if(currentUser && trek.author.equals(currentUser._id)) {%>
                <div class="d-flex flex-row flex-wrap justify-content-around mt-3">
                    <form action="/treks/<%= trek._id %>?_method=delete" method="post" class="d-inline">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <a href="/treks/<%=trek._id%>/edit" class="btn btn-info">Edit Details</a>
                </div>
                <a href="/treks" class="btn btn-primary mt-3">Show all Treks</a>
                <% } %>
        </div>
    </div>
    <% for(let review of trek.reviews){ %>
        <div class="card my-3">
            <div class="card-body">

                <h5 class="card-title">
                    Rating: <%=review.rating %>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <%= review.author.username %>
                </h6>
                <h3>Ratings</h3>
                <p class="starability-result" data-rating="<%=review.rating %>">
                    Rated: 3 stars
                </p>
                <p class="card-text">
                    Review: <%=review.body %>
                </p>
                <% if(currentUser && review.author.equals(currentUser._id)) {%>
                    <form action="/treks/<%=trek._id %>/reviews/<%=review._id%>?_method=DELETE" method="post">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    <% } %>
            </div>
        </div>
        <% }%>
            <div>
                <% if(currentUser){ %>
                    <h3 class="display-5">
                        Leave a Review
                    </h3>
                    <form action="/treks/<%=trek._id %>/reviews" method="POST" class="my-3 validatedForm" novalidate>

                        <fieldset class="starability-slot">
                            <legend>First rating:</legend>
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
                                checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                        <div class="my-3">
                            <label class="form-label" for="body">Review</label>
                            <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"
                                required></textarea>
                            <div class="valid-feedback">
                                Theek 🤠
                            </div>
                            <div class="invalid-feedback">
                                Khali Mat chodo bhaiya
                            </div>
                        </div>
                        <button class="btn btn-success">Submit</button>
                    </form>
                    <% } %>

            </div>

            <script>
                const mapToken = '<%-process.env.MAPBOX_TOKEN %>';
                const trekInfo = '<%-JSON.stringify(trek)%>';
                const trekSpotInfo = {
                    info: JSON.parse(trekInfo)
                }
            </script>

            <script src="/Javascript Files/showPageMap.js"></script>